[Unit]
Description=Facetracker Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/grant/facetracker-firmware/glorp-track
ExecStart=/home/grant/facetracker-firmware/glorp-track/run.sh

[Install]
WantedBy=multi-user.target
