<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VR Face Tracker Setup</title>
</head>
<body>
    <div class="scanline"></div>
    <div class="container">
        <h1 class="header">Network Setup</h1>
        
        <div class="content">
  	    <h3>{{.error}}</h3>
	    <form id="form" action="/submit" method="POST">
		<input type="text" name="ssid">
		<input type="text" name="password">
		<input type="radio" id="hidden" name="hidden" value="hidden">
		<label for="hidden">Hidden Network</label><br>
		<button type="submit">Submit</button>
	    </form>
        </div>
    </div>
</body>
</html>
